@import '../../Helpers/Mixin.scss';
@import '../../Helpers/Variables.scss';

.user-info{
    width: 120px;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin: 0 15px;
    cursor: pointer;

    .user-icon{

        svg{
            fill: white;
            width: 20px;
        }

        &.user-icon-black{
            svg{
                fill: black;
            }
        }
    }
    .user-account{
        min-width: 100px;
        padding: 10px 20px;
        font-family: $font--main;


        &.form-show{
            transform: translateY(0);
            opacity: 1;
        }
        &__login{
            width: 264px;

            form{
                
                h4{
                    margin-bottom: 20px;
                    font-size: 30px;
                    font-weight: 300;
                }
    
                .btn-form{
                    height: 40px;
                    width: 100%;
                    margin-top: 10px;
                }
                .forget-password{
                    text-align: end;
                    font-size: 13px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
                .account{
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 0;
                    margin-top: 16px;
                    cursor: pointer;
                }
                .paragraph-reset{   
                    font-size: 14px;
                    font-weight: 500;
                }
                .input-message{
                    color: $color--red;
                    font-size: 13px;
                    text-align: left;
                }
            }
        }
        &__actions{
            width: 160px;

            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: left;

                li{
                    padding: 4px;
                    span,a{
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 600;
                        font-family: $font--main;
                        color: $color--black;
                    }
                    &:hover{
                        background-color: $color--seconde;

                        span,a{
                            color: white;
                        }
                    }
                }
            }
        }
    }

}

.user-form{
    margin-bottom: 50px;
    h4{
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 200;
        margin-bottom: 30px;
    }
    &>p.paragraph-reset{
        font-family: $font--seconde;
        margin-bottom: 40px;
        color: $color--gray__heading;
    }
    .input-content{
        margin-bottom: 35px;

        input{
            height: 40px;
        }
    }
    .remember-pass{
        display: flex;
        align-items: center;

        ul{
            list-style: none;
            display: flex;
            width: 100%;
            margin: 0;
            // justify-content: space-between;

            li{

                input[type="checkbox"]{
                    display: none;
                    &+label{
                        position: relative;
                        padding-left: 1.3rem;
                        cursor: pointer;
                        font-family: $font--seconde;
        
                        span{
                            margin-left: 13px;
                            color: $color--gray__therd;
                            margin-bottom: 2px !important;
                            display: inline-block;
                        }
                        &::before,&::after{
                            display: block;
                            position: absolute;
                            box-sizing: border-box;
                            bottom: 0;
                            left: 0;
                            content:'';
                            width: 25px;
                            height: 25px; 
                        }
                        &::before{
                            border: 1px solid $color--border;
                            background-color: #eee;
                        }
                    }
                    &:checked{
                        &+label{
                            &::before{
                                // background: url('../../../Img/icon_check.svg') no-repeat;
                                // background-size: cover;
                                background-color: $color--seconde;
                            }
                        }
                    }
                }
                &:nth-of-type(2){
                    margin: 0 16px;

                    &>span{
                        width: 2px;
                        height: 29px;
                        background-color: $color--gray__therd;
                        display: block;
                    }
                }
                a{
                    font-family: $font--seconde;
                    text-decoration: none;
                    color: $color--seconde;
                }
            }
        }
    }
}