@import '../../Helpers/Variables.scss';
@import '../../Helpers/Mixin.scss';

.header{
    min-height: 400px;
    background: $color--main url('../../../Img/Header-background.jpg') no-repeat center center/ cover;
    position: relative;
    
    .breadcrumbs{
        width: 100%;
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 17px;
        font-weight: 500;
        font-family: $font--seconde;

        .container{
            display: flex !important;
            align-items: center;
            justify-content: end;
        }

        a{
            color: white;
            text-decoration: none;
            transition: .3s;

            &:hover{
                color: $color--seconde;
            }
        }
        svg{
            color: white;
            margin: 0 10px;
        }
        span{
            color: $color--seconde;
            border-bottom: 3px solid $color--seconde;
            padding: 10px 0;
        }
    }
    @include For-Desktop(max-width){
        height: 330px;
    }
    // .header__desc{
    //     text-align: right;
    //     margin-top: 10px;
    //     position: absolute;
    //     right: 0;
    //     top: 200px;
    //     width: 100%;
    //     color: white;

    //     h2{
    //         font-size: 55px;
    //         font-weight: 200;
            
    //         span{
    //             font-weight: 600;
    //         }

    //         @include For-Tablet(max-width){
    //             font-size: 50px;
    //         }
    //     }
    // }
}