@import '../Helpers/Mixin.scss';
@import '../Helpers/Variables.scss';

.card-content{
    min-height: 80px;
    background-color: $color--main;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    transform: translateY(40px);
    transition: .4s;
    opacity: 0;
    z-index: 2;
}

.card-admin{
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 0.5rem;
    width: 100%;
    padding: 1.5em;
}